<section class="container-fluid">
    <header class=" row header d-flex flex-row   ">

        <h1 class=" col-6  logo">Rob-A-Job</h1>
        <nav class=" col-6 nav d-flex flex-column align-items-end">
            <a href="/employer" class="nav-link">Home</a>
            <a href="/api/user/employer/{{userId}}" class="nav-link">Dashboard</a>
            <a  href="/api/user/logout" class="nav-link" id="logout"  >LogOut</a>
            
        </nav>
    </header>
</section>

<section class="container-fluid">

    <div class="    cardArea   row d-flex justify-content-center">




        {{#each jobDataWithCounts as |job|}}



        <div class="  col-11 col-sm-8 col-md-5 col-lg-3    d-flex flex-column     card" id="{{job.id}}">
            <div class="applicant-count" id=>
                Applicants: {{ job.totalApplicants}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ job.position_title}}</h5>
                <p class="card-text">
                   {{job.description}}
                </p>
                <a href="/api/mjob/{{job.id}}" class="btn btn-primary">VIEW JOB</a>
            </div>

            <div class="comment-section">
                <form  class="comment-form  homeComment  ">
                    <textarea class="comment-input" placeholder="Add a comment..." id="commentText"  ></textarea>
                    <button  class=" submitBTN   btn btn-secondary">
                        Post Comment
                    </button>
                </form>

            </div>

        </div>
       
        {{/each}}

    </div>
</section>

<script src="/js/logout.js"></script>
<script src="/js/ehome.js"></script>